@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
:root
{
    --background-color: #000000;
    --primary-color: #060606;
    --font-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body{
    background-color: var(--background-color);
    color: var(--font-color);
    text-align: -webkit-center;
}

a, button
{
    cursor: pointer;
    text-decoration: none;
}